@using ImageServer.Models;
@using System.IO;
@model List<DownLoadcount>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $(function(){
        $('#startdate').datepicker();
        $('#enddate').datepicker();
    })

</script>

@using (Html.BeginForm("Index", "DownloadReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
{<div>

  
     <div class="report">
         <table>


             <h1>REPORT ON DOWNLOADED IMAGES</h1>

             <label>Start Date</label>
             <input type="text" id="startdate" name="startdate" width="300" />
             <label>End Date</label>
             <input type="text" id="enddate" name="enddate" width="300" />
             <br />
             <br />
             <input type="submit" value="Search by Dates" />

             <tr>
                 <th width="100" height="100" align="center"><u><font size="2"><b>IMAGE</b></font></u></th>
                 <th colspan="2" width="250" align="center"><u><font size="2"><b>IMAGE NAME</b></font></u></th>
                 <th colspan="3" width="100" align="center"><u><font size="2"><b>IMAGE ID</b></font></u></th>
                 <th colspan="4" width="250" align="center"><u><font size="2"><b>NO OF TIMES DOWNLOADED</b></font></u></th>
             </tr>

             @foreach (DownLoadcount i in Model)
             {
                 <tr>
                     <td><img src="@i.imagepath" width="75" height="75" /></td>
                     <td colspan="2">@Path.GetFileName(i.imagepath)</td>
                     <td colspan="3">@i.imageid</td>
                     <td colspan="4">@i.downloadcount</td>
                 </tr>

             }
         </table>
     </div>
    </div>


        @ViewBag.Message
  

}